.features {
    margin-top: 94px;
  }
  
  .features-list {
    display: flex;
    gap: 30px;
    /* flex-wrap: wrap; */
  }
  .features-item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
  .features-svg-div{
    background-color: $color-features-backgrond;
    /* width: 270px;
    height: 120px; */
    margin-bottom: 30px;
    padding: 25px 100px;
  }
  .features-item-title {
    color: $color-main;
    /* text-align: center; */
    font-size: 14px;
    font-weight: 700;
    line-height: 1.71;
    letter-spacing: 0,42px;
    margin-bottom: 10px;
  }
  
  .features-item-text {
    color: $color-icon-header;
    font-size: 14px;
  
    line-height: 1.71;
    letter-spacing: 0.42px;
    /* margin-bottom: 118px; */
  }