.header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: $color-main;
  text-decoration: none;
  margin-right: 93px;
}
.spanweb {
  color: $color-hover;
}





.header-nav-list{
  // list-style: none;
  display: none;
  align-items: center;
  justify-content: space-between;

  top: 100px;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #fff;

}
.list-contact-header {
  list-style: none;
  display: none;
  align-items: center;
  justify-content: space-between;
  // position: absolute;
  top: 100px;
  left: 0;
  // width: 100%;
  padding: 20px;
  background: #fff;
 
}
.header-nav-item{
  margin: 15px 0;
}
// .contact-item{
//   margin: 15px 0;
// }
.nav-link{
  color: $color-main;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle {
  display: none;
}


.menu-toggle:hover,
.menu-toggle:focus {
background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
padding: 32px;
background-color: #3f51b5;
z-index: 999;

transform: translateX(100%);
transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
transform: translateX(0);
}

.menu-container .menu-toggle {
position: absolute;
top: 16px;
right: 16px;
color: #fff;
}

.mobile-menu {
padding: 0;
margin: 0;
list-style: none;
}

.mobile-menu .link {
display: block;
padding: 10px;
color: #fff;
text-decoration: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
  margin-left: -4px;
  }
  .header-nav-list{
 display: flex;
 column-gap: 50px;
//  margin-right: 96px;
  }
    .nav-link.active::after{
    content:"" ;
    position: absolute;
    bottom: -33px;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: $color-hover;

    border-radius: 10px;


    }
    .active{
      position: relative;
    }
  .list-contact-header {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  .header-burgermenu{
    display: none;
  }
        .contact-item > a {
        color: $color-icon-header;
        // color: $color-main;
       margin-bottom: 12px;
      }
      .contact-item:hover > a {

        color:$color-hover ;
        fill:$color-hover ;
      }
      .contact-item:hover {

      color: $color-hover;
      }
      .svg-contact{
        margin-right: 10px;
      }
      
}
@media screen and (min-width: 1200px) {
  .list-contact-header{
    flex-direction: row;
  }
  .list-contact-header {

    column-gap: 30px;
  }

}

// .header {
//     display: flex;
//     font-size: 14px;
//     font-weight: 500;
//     line-height: normal;
//     letter-spacing: 0.28px;
//     align-items: center;
//     justify-content: space-between;
//     height: 80px;
//    border-bottom: 1px solid $color-features-backgrond;
//   }
//   .logo {
//     font-family: Raleway;
//     font-weight: 700;
//     font-size: 26px;
//     color: $color-main;
//     text-decoration: none;
//     margin-right: 93px;

//   }
//   .spanweb {
//     color: $color-hover;
//   }
//   .header-nav {
//     @extend %flex ;
//     display: none;
//   }
//   .header-nav-list {
//     display: flex;
//     column-gap: 50px;
//   }
//   .header-nav-item{

//     position: relative;
//   }
//   .nav-link{
//     color: $color-main;
//   }
//   .nav-link.active::after{
//     content:"" ;
//     position: absolute;
//     bottom: -33px;
//     left: 0;
//     width: 100%;
//     height: 4px;

//     background-color: $color-hover;

//     border-radius: 10px;

//     }
//     .list-contact-header {
//         display: flex;
//         column-gap: 30px;
//         justify-self: flex-end;

//         display: none;
//       }
//       .contact-item > a {
//         color: $color-icon-header;
//         color: $color-main;

//       }
//       .contact-item:hover > a {

//         color:$color-hover ;
//         fill:$color-hover ;
//       }
//       .contact-item:hover {

//       color: $color-hover;
//       }
//       .svg-contact{
//         margin-right: 10px;
//       }
