*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  
}

ul {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* // стилі всі картинок для зручної роботи з ними */
img {
  max-width: 100%;
  height: auto;
}

/* // клас для приховування елементів */
/* .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
} */

/* // контейне для центрування контенту */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}
/* .....svg..... */
/* <svg>
  <use href="symbol-defs.svg#"> </use>
 </svg> */

body {
  font-family: Roboto;
}
/* ===================header======== */
.header {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  align-items: center;
  justify-content: space-between;
  /* height: 80px; */
  padding: 24px 0;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
  
}

.spanweb {
  color: #2196f3;
}
.header-nav-list {
  display: flex;
  column-gap: 50px;
}

.list-contact-header {
  display: flex;
  column-gap: 30px;
  justify-self: flex-end;
}
.header-nav-item > a {
  color: #212121;
}

.header-nav-item:hover a {
  color: #2196f3;
}

.contact-item > a {
  color: #757575;
}
.contact-item:hover > a {
  color: #2196f3;
}
.contact-item:hover {
 fill: #2196f3;
}
.hero {
  /* background-color: #000000; */
  height: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(img/Img\(15\).jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.hero-title {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
}
.hero:nth-child(1) h1::before {
  content: "";
  background-image: url(img/Img\(15\).jpg);
}

.hero-button {
  color: #fff;
  font-size: 16px;
  margin: 0 auto;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  background-color: #2196f3;
  justify-content: space-between 30px;
  border-color: #2196f3;
  border-radius: 4px;
  height: 50px;
  width: 216px;
}
.features {
  margin-top: 94px;
}

.features-list {
  display: flex;
  gap: 30px;
  /* flex-wrap: wrap; */
}
.features-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
}
/* .features-item:nth-child(1) h3::before {
  content: "";
  background-image: url(img/antenna1.png);
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
} */
/* .features-item:nth-child(2) h3::before {
  content: "";
  background-image: url(img/astronaut1.png);
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
} */
/* .features-item:nth-child(3) h3::before {
  content: "";
  background-image: url(img/clock\ 1.png);
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
} */
/* .features-item:nth-child(4) h3::before {
  content: "";
  background-image: url(img/diagram\ 1.png);
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
} */

/* .features-item-title::before {
  content: "";
  width: 270px;
  height: 120px;
  display: inline-block;
  background-image: url(img/antenna1.png), url(img/astronaut1.png),
    url(img/clock1.png), url(img/diagram1.png);
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
} */

.features-item-title {
  color: #212121;
  /* text-align: center; */
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0,42px;
  margin-bottom: 10px;
}

.features-item-text {
  color: #757575;
  font-size: 14px;

  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 118px;
}
.work {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  row-gap: 35px;
  flex-wrap: nowrap;
  padding-bottom: 94px;
}

.team {
  justify-content: center;
  text-align: center;
  row-gap: 30px;
  background-color: #f5f4fa;
  flex-wrap: wrap;

}

.team-list {
  display: flex;
  /* flex-wrap: wrap; */
  column-gap: 30px;
  padding-bottom: 94px;
}
.team-item {
  flex-basis: calc((100% -4 * 30px) / 4);
  /* display: flex; */
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}
.team-item>svg{
  color: #AFB1B8;
}

.footer .container {
  background-color: #2f303a;
}
.footer-list {
  color: #fff;
}
.nav-list {
  display: flex;
  column-gap: 50px;
}
.header-list {
  display: flex;
  column-gap: 50px;
}
.section-list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.buttonportfolio {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
   border-color: #F5F4FA;
  border-radius: 3px;
  box-shadow: none;
}
.buttonportfolio:hover {
  background-color: #2196f3;
  color: #fff;
 
}
.titelportfolio {
  color: #212121;
  font-size: 18px;

  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}
.listheader:hover {
  color: #2196f3;
}
.portfolio-body {
  font-family: Roboto;
}

.hero {
  padding-bottom: 94px;
}
.features {
  padding-bottom: 94px;
}
.work {
  padding-bottom: 94px;
}
.list-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-item {
  flex-basis: calc((100% - 4 * 30px) / 3);
}
.footer.container {
  background-color: #000000;
 width: 1600px;
  text-decoration: none;
  
}
.footer-logo{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: white;
  text-decoration: none;
}
/* .div-svg{
display: flex;
align-content: center;

} */
.svg-list{
  display: flex;

  column-gap: 30px;
}
.clients{
  margin-bottom: 94px;
padding-top: 94px;

}
.svg-title{
  margin-bottom: 50px;
  text-align: center;

}
.features-svg-div{
  background-color: #F5F4FA;
  /* width: 270px;
  height: 120px; */
  margin-bottom: 30px;
  padding: 25px 100px;
}

.team-svg-list{
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  column-gap: 34px;
  margin-top: 15px;
  margin-bottom: 125px;
}
.team-svg-item{
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-svg-item:hover  {
  background-color:#2196F3 ;
  fill: #fff;
  border-radius: 50%;
 padding: 5px;
  /* padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px; */

 
}
.client-svg-item{
  border: solid 1px #AFB1B8;
  border-radius: 4px;
 padding: 16px 32px;
 fill: #AFB1B8;
 
}
.client-svg-item:hover{
  fill: #2196F3;
  border-color: #2196F3;
}
.svg-contact{
  margin-right: 10px;
}
.title-work{
  margin-bottom: 50px;
}

.team-title{
  padding-top: 94px;
  color: #212121;

text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
padding-bottom: 50px;
}
.work-list{
  display: flex;
  column-gap: 30px;
}
.work-text-div{
  background-color: #2F303ACC;
  position: absolute;
  bottom: 70px;
  width: 370px;
  height: 70px;
  /* padding-bottom: 1px; */ 
  z-index: 2;
  /* background: rgba(47, 48, 58, 0.80); */
  top: 224px;
}
.work-text{
  color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
padding-bottom: 27px;
padding-top: 27px;
/* background-color: #2F303ACC; */
}
.work-list-item{
  position: relative;
}