@keyframes changeColorFill{
    0% { fill  :  #2196F3;}
    100%{ fill: #2196F3;}
    }
    @keyframes changeBgColor{
      0% { background-color: #2196F3;}
    100%{ background-color: #2196F3;}
    }
    @keyframes changeColor{
      0% { color  :  #2196F3;}
      100%{ color: #2196F3;}
      }
      @keyframes changeColorWhite{
        0% { color  :  #FFF;}
        100%{ color: #FFF;}
        }
        @keyframes changeColorFillWhite{
          0% { fill  :  #2196F3;}
          100%{ fill: #2196F3;}
          }
          @keyframes changeBorColor{
            0% { border-color  :  #2196F3;}
            100%{ border-color: #2196F3;}
            }
            @keyframes translay{
              0% { transform: translateX(-100%);}
              100%{transform: translatey(0); }
              }